<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!jobs || !jobs.length" resetLinkText="Reset Search!">
</app-not-found>
<ul>
  <li *ngFor="let job of jobs">
    <a routerLink="/job/{{job.id}}">
      <img [src]="job.imageUrl" [alt]="job.name">
      <div class="content">
        <div class="name">
          {{job.name}}
        </div>
        <span class="favorite {{job.favorite?'':'not'}}">
          ❤
        </span>

        <!-- stars -->
        <div class="stars">

        </div>
        <div class="job-item-footer">
          <div class="job-time">
            <span>🕒</span>
            {{job.jobTime}} min
          </div>
          <div class="price">
            <span>{{job.price | currency: 'Lei '}}</span>
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>